/* /MainLayout.razor.rz.scp.css */
.root[b-55rqoonim9] {
    display: grid;
    grid-template-rows: 1fr min-content;

    align-self: center;

    width: 100%;
    height: 100%;

    background: url(/img/grand-theft-auto-v-mountains-wallpaper-2560x1600_7.jpg);
    background-size: cover;
    background-position: center;
}

.header[b-55rqoonim9] {
    font-size: 2.5rem;
    text-align: center;
}

.main[b-55rqoonim9] {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
}

.center[b-55rqoonim9] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content[b-55rqoonim9] {
    display: flex;
    flex-direction: column;

    padding: 1rem;

    width: 100%;
    max-width: 1000px;
    height: 680px;

    background-color: #000000C7;
    box-shadow: 3px 3px 6px #000A;
}

.body[b-55rqoonim9] {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.footer[b-55rqoonim9] {
    display: flex;
    justify-content: end;
    padding: 0 .5rem;

    font-size: .75rem;
    font-weight: 200;
}
/* /Pages/Guess.razor.rz.scp.css */
.root[b-lduyjfn2o9] {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.header[b-lduyjfn2o9] {
    display: flex;

    justify-content: center;

    height: 1.5rem;
    color: #ffc107;
}

.header-animate-in[b-lduyjfn2o9] {
    animation: 1.5s ease forwards header-in-keyframes-b-lduyjfn2o9;
}

@keyframes header-in-keyframes-b-lduyjfn2o9 {
    0% {
        opacity: 0;
        transform: translateY(590px) scale(3);
    }

    100% {
        opacity: 1;
        transform: translateY(250px) scale(3);
    }
}

.header-animate-out[b-lduyjfn2o9] {
    animation: .5s ease forwards header-out-keyframes-b-lduyjfn2o9;
}

@keyframes header-out-keyframes-b-lduyjfn2o9 {
    0% {
        transform: translateY(250px) scale(3);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.header-animate-result-out[b-lduyjfn2o9] {
    animation: .3s ease forwards header-result-out-keyframes-b-lduyjfn2o9;
}

@keyframes header-result-out-keyframes-b-lduyjfn2o9 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.body[b-lduyjfn2o9] {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding-top: 1rem;
}

.body:not(.body-animate-out)[b-lduyjfn2o9] {
    animation: .3s ease forwards body-in-keyframes-b-lduyjfn2o9;
}

@keyframes body-in-keyframes-b-lduyjfn2o9 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.body.body-animate-out[b-lduyjfn2o9] {
    animation: .3s ease forwards body-out-keyframes-b-lduyjfn2o9;
}

@keyframes body-out-keyframes-b-lduyjfn2o9 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.timer[b-lduyjfn2o9] {
    display: flex;
    gap: 1rem;
}

.timer-progress-bar-wrapper[b-lduyjfn2o9] {
    position: relative;
    flex-grow: 1;
}

.timer-progress-bar-border[b-lduyjfn2o9] {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid white;
    border-radius: 99rem;
    overflow: hidden;
}

.timer-progress-bar[b-lduyjfn2o9] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    background-color: white;

    transition: all 16ms ease;
}

.timer-cursor[b-lduyjfn2o9] {
    position: absolute;
    top: 0;

    transform: translate(-35%, 150%);
    transition: all 16ms ease;
}

.timer-cursor[b-lduyjfn2o9]::before {
    content: "";
    position: absolute;
    width: .5rem;
    height: .5rem;
    border-left: 2px solid white;
    border-top: 2px solid white;
    transform: translate(50%, -50%) rotate(45deg);
    
}

.guess[b-lduyjfn2o9] {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

    gap: .5rem;
}

.guess-table[b-lduyjfn2o9] {
    display: grid;
    grid-template-columns: 160px 1fr;
    gap: 1rem;
}

.guess-picture[b-lduyjfn2o9] {
    align-self: center;

    aspect-ratio: 1;
    background-image: url(img/pfp-anon.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 8px;
}

.guess-content[b-lduyjfn2o9] {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

    gap: 1rem;
}

.line[b-lduyjfn2o9] {
    display: flex;
    padding: .5rem;

    gap: .5rem;

    background: black;
    border-radius: .5rem;
}

.line > code[b-lduyjfn2o9] {
    flex-grow: 1;
    width: 100%;
}

.divider[b-lduyjfn2o9] {
    border-left: 1px solid white;
}

.audio[b-lduyjfn2o9] {
    width: 2rem;
    cursor: pointer;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.actual-audio[b-lduyjfn2o9] {
    width: 100%;
}

.input-form[b-lduyjfn2o9] {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.guess-input-wrapper[b-lduyjfn2o9] {
    position: relative;
    height: 100%;

    flex-grow: 1;
}

.guess-input[b-lduyjfn2o9] {
    width: 100%;
    height: 100%;
    padding: 0 .5rem;
    font-size: 1.1rem;
}

.guess-form-hint[b-lduyjfn2o9] {
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(100% + .5rem);

    background-color: white;
    border-radius: 4px;

    color: #1f1f1f;
}

.guess-form-hint-item[b-lduyjfn2o9] {
    padding: .5rem;
}

.guess-form-hint-item:hover[b-lduyjfn2o9] {
    background-color: #00000033;
    cursor: pointer;
}

.guess-form-hint-dots[b-lduyjfn2o9] {
    color: #777;
    padding: .5rem;
}

.result[b-lduyjfn2o9] {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: .5rem;
}

.result-text[b-lduyjfn2o9] {
    margin: 1rem 0;
    font-size: 1.5rem;
    text-align: center;
}

.result-correct[b-lduyjfn2o9] {
    color: #28a745;
}

.result-incorrect[b-lduyjfn2o9] {
    color: #dc3545;
}

.result-video[b-lduyjfn2o9] {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
}

.result-chat[b-lduyjfn2o9] {
    display: flex;
    flex-direction: column;
    margin-top: auto;

    gap: .5rem;
}

.result-chat-grid[b-lduyjfn2o9] {
    display: grid;
}

.result-chat-grid > div[b-lduyjfn2o9] {
    border: 1px solid #000A;
    margin: 2px;
    padding: 2px 8px;
    border-radius: 99rem;
}

.result-chat-grid > div:nth-child(1)[b-lduyjfn2o9] {
    background-color: #ed3b23;
}

.result-chat-grid > div:nth-child(2)[b-lduyjfn2o9] {
    background-color: #00ad4d;
}

.result-chat-grid > div:nth-child(3)[b-lduyjfn2o9] {
    background-color: #892892;
}

.result-chat-grid > div:nth-child(4)[b-lduyjfn2o9] {
    background-color: #1db8f1;
}

.result-chat-grid > div:nth-child(5)[b-lduyjfn2o9] {
    background-color: #ec3c23;
}

.result-continue[b-lduyjfn2o9] {
    margin-top: .75rem;
}

.finish[b-lduyjfn2o9] {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    gap: 1rem;
}

.finish-main-menu[b-lduyjfn2o9] {
    margin-top: auto;
}
/* /Pages/Index.razor.rz.scp.css */
hr[b-5cxg0vvgmy] {
    width: 100%;
}

.root[b-5cxg0vvgmy] {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.content[b-5cxg0vvgmy] {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    justify-content: space-evenly;
}

.content>div[b-5cxg0vvgmy] {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.footer[b-5cxg0vvgmy] {
    display: flex;
    flex-direction: column;
    width: 100%;
}
