/* /MainLayout.razor.rz.scp.css */
.root[b-55rqoonim9] {
    display: grid;
    grid-template-rows: 1fr min-content;

    align-self: center;

    width: 100%;
    height: 100%;

    background: url(img/grand-theft-auto-v-mountains-wallpaper-2560x1600_7.jpg);
    background-size: cover;
    background-position: center;
}

.header[b-55rqoonim9] {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
}

.main[b-55rqoonim9] {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
}

.center[b-55rqoonim9] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content[b-55rqoonim9] {
    display: flex;
    flex-direction: column;

    padding: 1rem;

    width: 100%;
    max-width: 1000px;
    height: 680px;

    background-color: #000000C7;
    box-shadow: 3px 3px 6px #000A;
}

.body[b-55rqoonim9] {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.key-form-wrapper[b-55rqoonim9] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.key-form[b-55rqoonim9] {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.key-input[b-55rqoonim9] {
    font-size: 1rem;
    padding: .5rem .5rem;
    width: 368px;
}

.footer[b-55rqoonim9] {
    display: flex;
    justify-content: end;
    padding: 0 .5rem;

    font-size: .75rem;
    font-weight: 200;
}
/* /Pages/Guess.razor.rz.scp.css */
.absolute[b-lduyjfn2o9] {
    position: absolute;
    inset: 0;
}

.relative[b-lduyjfn2o9] {
    position: relative;
    width: 100%;
    height: 100%;
}

.root[b-lduyjfn2o9] {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.header[b-lduyjfn2o9] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    height: 1.5rem;
    color: #ffc107;

    margin-top: .5rem;
    
    transition: grid-template-columns .3s ease;
}

.level-in .header[b-lduyjfn2o9] {
    grid-template-columns: 1fr 0fr 0fr;
    animation: 1.5s ease forwards header-in-keyframes-b-lduyjfn2o9;
}

@keyframes header-in-keyframes-b-lduyjfn2o9 {
    0% {
        opacity: 0;
        transform: translateY(590px) scale(3);
        grid-template-columns: 1fr 0fr 0fr;
    }

    100% {
        opacity: 1;
        transform: translateY(250px) scale(3);
    }
}

.level-out .header[b-lduyjfn2o9] {
    grid-template-columns: 1fr 0fr 0fr;
    animation: .5s ease forwards header-out-keyframes-b-lduyjfn2o9;
}

@keyframes header-out-keyframes-b-lduyjfn2o9 {
    0% {
        transform: translateY(250px) scale(3);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.pre-next-level .header[b-lduyjfn2o9] {
    animation: .3s ease forwards header-result-out-keyframes-b-lduyjfn2o9;
}

@keyframes header-result-out-keyframes-b-lduyjfn2o9 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.header-item[b-lduyjfn2o9] {
    display: flex;

    justify-content: center;
    align-items: center;

    text-wrap: nowrap;

    overflow: hidden;
}

.status[b-lduyjfn2o9] {
    position: relative;
    margin-top: 1rem;
    height: 4rem;
    overflow: hidden;
}

.score-bar-wrapper[b-lduyjfn2o9] {
    position: absolute;
    inset: 0;
    height: 1.2rem;
    margin: 0 2rem;

    transform: translateY(-300%);
    opacity: 0;

    transition: opacity .3s linear, transform .3s ease;
}

.guess .score-bar-wrapper[b-lduyjfn2o9] {
    transform: translateY(0%);
    opacity: 1;
}

.score-bar-border[b-lduyjfn2o9] {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid white;
    border-radius: 99rem;
    overflow: hidden;
}

.score-bar-red[b-lduyjfn2o9] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    background-color: #dc3545;

    transition: width .2s .2s ease;
}

.score-bar[b-lduyjfn2o9] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    background-color: white;

    transition: width .2s ease;
}

.score-cursor[b-lduyjfn2o9] {
    position: absolute;
    top: 0;

    transform: translate(-35%, 150%);
    transition: left .3s ease;
}

.score-cursor[b-lduyjfn2o9]::before {
    content: "";
    position: absolute;
    width: .5rem;
    height: .5rem;
    border-left: 2px solid white;
    border-top: 2px solid white;
    transform: translate(50%, -50%) rotate(45deg);
}

.quiz[b-lduyjfn2o9] {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

    gap: .5rem;

    opacity: 1;

    transition: opacity .3s linear;
}

.level-in .quiz[b-lduyjfn2o9],
.level-out .quiz[b-lduyjfn2o9],
.pre-next-level .quiz[b-lduyjfn2o9] {
    opacity: 0;
}

.quiz-table[b-lduyjfn2o9] {
    display: grid;
    grid-template-columns: 160px 1fr;
    gap: 1rem;
}

.quiz-picture[b-lduyjfn2o9] {
    aspect-ratio: 1;
    width: 100%;
    align-self: center;
    
    background-image: url(img/pfp-anon.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 8px;
}

.quiz-content[b-lduyjfn2o9] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quiz-question[b-lduyjfn2o9] {
    max-height: 0;
    overflow: hidden;

    transition: max-height .3s ease;
}

.guess .quiz-question[b-lduyjfn2o9] {
    max-height: 2rem;
}

.line[b-lduyjfn2o9] {
    display: flex;
    padding: .5rem;
    margin: 0;

    gap: .5rem;

    background: black;
    border-radius: .5rem;

    transition: margin .3s ease;
}

.guess .line[b-lduyjfn2o9] {
    margin: 1rem 0 0 0;
}

.result .line[b-lduyjfn2o9] {
    margin: 0 0 1rem 0;
}

.line>code[b-lduyjfn2o9] {
    flex-grow: 1;
    width: 100%;
}

.divider[b-lduyjfn2o9] {
    border-left: 1px solid white;
}

.audio-wrapper[b-lduyjfn2o9] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 2.5rem;

    cursor: pointer;
}

.audio[b-lduyjfn2o9] {
    width: 100%;
}

.audio-pentalty[b-lduyjfn2o9] {
    color: #dc3545;
    font-size: .85rem;
}

.quiz-play-video-btn[b-lduyjfn2o9] {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    padding: 4px 0;

    max-height: 0;
    opacity: 0;

    transition: max-height .3s ease, opacity .15s linear;
}

.result .quiz-play-video-btn[b-lduyjfn2o9] {
    max-height: 3rem;
    opacity: 1;
}

.chat-guesses[b-lduyjfn2o9] {
    display: grid;
    gap: 2px;
    margin-bottom: .5rem;
}

.chat-guesses>div[b-lduyjfn2o9] {
    padding: 2px 8px;
    background-color: #a970ff80;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.footer[b-lduyjfn2o9] {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    align-items: center;

    opacity: 1;

    transition: grid-template-columns .3s ease, gap .1s ease .2s, opacity .3s linear;
}

.result .footer[b-lduyjfn2o9] {
    grid-template-columns: 0fr auto;
    gap: 0rem;
}

.level-in .footer[b-lduyjfn2o9],
.level-out .footer[b-lduyjfn2o9],
.pre-next-level .footer[b-lduyjfn2o9] {
    opacity: 0;
}

.guess-input-wrapper[b-lduyjfn2o9] {
    position: relative;
    height: 100%;
}

.guess-input[b-lduyjfn2o9] {
    width: 100%;
    height: 100%;
    font-size: 1.1rem;

    border: 0;
    padding: 0;

    transition: padding .3s ease;
}

.guess .guess-input[b-lduyjfn2o9] {
    padding: 0 .5rem;
}

.guess-form-hint[b-lduyjfn2o9] {
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(100% + .5rem);

    background-color: white;
    border-radius: 4px;

    color: #1f1f1f;
}

.guess-form-hint-item[b-lduyjfn2o9] {
    padding: .5rem;
}

.guess-form-hint-item:hover[b-lduyjfn2o9] {
    background-color: #00000033;
    cursor: pointer;
}

.guess-form-hint-dots[b-lduyjfn2o9] {
    color: #777;
    padding: .5rem;
}

.result-text[b-lduyjfn2o9] {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding-top: 1rem;
    font-size: 1.5rem;

    transform: translateY(-100%);
    opacity: 0;

    transition: opacity .3s linear, transform .3s ease;
}

.result .result-text[b-lduyjfn2o9] {
    transform: translateY(0%);
    opacity: 1;
}

.result-correct[b-lduyjfn2o9] {
    color: #28a745;
}

.result-incorrect[b-lduyjfn2o9] {
    color: #dc3545;
}

.result-video[b-lduyjfn2o9] {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
}

.result-chat[b-lduyjfn2o9] {
    display: flex;
    flex-direction: column;
    margin-top: auto;

    gap: .5rem;
}

.result-chat-grid[b-lduyjfn2o9] {
    display: grid;
}

.result-chat-grid>div[b-lduyjfn2o9] {
    border: 1px solid #000A;
    margin: 2px;
    padding: 2px 8px;
    border-radius: 99rem;
}

.result-chat-grid>div:nth-child(1)[b-lduyjfn2o9] {
    background-color: #ed3b23;
}

.result-chat-grid>div:nth-child(2)[b-lduyjfn2o9] {
    background-color: #00ad4d;
}

.result-chat-grid>div:nth-child(3)[b-lduyjfn2o9] {
    background-color: #892892;
}

.result-chat-grid>div:nth-child(4)[b-lduyjfn2o9] {
    background-color: #1db8f1;
}

.result-chat-grid>div:nth-child(5)[b-lduyjfn2o9] {
    background-color: #ec3c23;
}

.result-continue[b-lduyjfn2o9] {
    margin-top: .75rem;
}

.finish[b-lduyjfn2o9] {
    display: flex;
    flex-direction: column;
    height: 100%;

    gap: 1rem;
}

.finish-header[b-lduyjfn2o9] {
    font-size: 1.5rem;
    text-align: center;
    color: #ffc107;
}

.finish-table-wrapper[b-lduyjfn2o9] {
    flex-grow: 1;
    height: 0;
    overflow: auto;
}

.finish-table-wrapper[b-lduyjfn2o9]::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background: transparent;
}

.finish-table-wrapper[b-lduyjfn2o9]::-webkit-scrollbar-thumb {
    background: #0008;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

.finish-table[b-lduyjfn2o9] {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;

}

.finish-table th[b-lduyjfn2o9],
.finish-table td[b-lduyjfn2o9] {
    text-align: center;
    padding: 8px;
}

.finish-table th[b-lduyjfn2o9] {
    background: black;
    position: sticky;
    top: 0;
}

.finish-main-menu[b-lduyjfn2o9] {
    margin-top: auto;
}
/* /Pages/Index.razor.rz.scp.css */
hr[b-5cxg0vvgmy] {
    width: 100%;
}

.root[b-5cxg0vvgmy] {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    width: 100%;
    height: 100%;
}

.content[b-5cxg0vvgmy] {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
}

.info[b-5cxg0vvgmy] {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 1rem;

    padding: 1rem;

    font-size: 1.2rem;

    transition: transform .3s ease;
}

.chat-info[b-5cxg0vvgmy] {
    justify-content: end;    
}

.chat-messages-wrapper[b-5cxg0vvgmy] {
    height: 100%;
}

.chat-messages[b-5cxg0vvgmy] {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    gap: .25rem;
    padding: 0 .5rem;
    border-radius: 8px;
    background: black;
    height: 100%;

    overflow: hidden;

    font-size: .85rem;

    text-align: start;
}

.chat-messages-hint[b-5cxg0vvgmy] {
    color: #666;
}

.footer[b-5cxg0vvgmy] {
    display: flex;
    flex-direction: column;
    width: 100%;
}
