@inherits LayoutComponentBase

<div class="root">
    <div class="main">
        <div></div>
        <div class="center">
            <div class="content">
                <div class="header">
                    GTA 5 Character Guesser
                </div>
                <div class="body">
                    @Body
                </div>
            </div>
        </div>
        <div></div>
    </div>
    <div class="footer">
        Made with ♥️ by Welheizel, KarimFauzy and Kanawanagasaki
    </div>
</div>
