@inherits LayoutComponentBase

<div class="root">
    <div class="header">
        GTA 5 Character Guesser
    </div>
    <div class="content">
        @Body
    </div>
    <div></div>
    <div class="footer">
        Made with ♥️ by Welheizel, KarimFauzy, Kanawanagasaki
    </div>
</div>
