@inherits LayoutComponentBase

<div class="root">
    <div class="main">
        <div></div>
        <div class="center">
            <div class="content">
                <div class="header">
                    GTA 5 Character Guesser
                </div>
                <div class="body">
                    @if (_shouldAskKey)
                    {
                        <div class="key-form-wrapper">
                            <div class="key-form">
                                <div>
                                    Please enter password
                                </div>
                                <input class="key-input" type="password" @bind=@_key />
                                <button class="small" @onclick=@OnContinue>Continue</button>
                            </div>
                        </div>
                    }
                    else
                    {
                        @Body
                    }
                </div>
            </div>
        </div>
        <div></div>
    </div>
    <div class="footer">
        Made with ♥️ by Welheizel, KarimFauzy and Kanawanagasaki
    </div>
</div>
