.root {
    display: grid;
    grid-template-rows: 3fr 16fr 2fr min-content;

    align-self: center;

    width: 100%;
    max-width: 1000px;
    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: end;

    font-size: 2.5rem;
    font-weight: 700;
}

.footer {
    display: flex;
    justify-content: end;
    font-size: .75rem;
    font-weight: 200;
}
