.root {
    display: flex;
    flex-direction: column;

    height: 100%;
}

.downloading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;

    gap: .5rem;
}

.welcome {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin-top: auto;
    margin-bottom: auto;

    font-size: 1.5rem;
}

.finish {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin-top: auto;
    margin-bottom: auto;
    
    font-size: 1.5rem;
}

.levels {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.level {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: .5rem;

    width: 6rem;
    height: 6rem;

    border-radius: 100%;
    border: 1px solid #d8d8d8;
}

.level-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    height: 100%;
}

.line-text {
    font-size: 1.3rem;
}

.guess-form {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.guess-form-input-wrapper {
    position: relative;
    height: 100%;
    flex-grow: 1;
}

.guess-form-input {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    font-size: 16px;
}

.guess-form-hint {
    position: absolute;
    top: calc(100% + .5rem);
    left: 0;
    right: 0;

    background-color: white;
    border-radius: 4px;

    color: #1f1f1f;
}

.guess-form-hint-item {
    padding: .5rem;
}

.guess-form-hint-item:hover {
    background-color: #00000033;
    cursor: pointer;
}

.guess-form-hint-dots {
    color: #777;
    padding: .5rem;
}

.guess-result {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    font-size: 1.25rem;
}

.guess-confirmation {
    font-size: 2rem;
}

.guess-confirmation.correct {
    color: #28a745;
}

.guess-confirmation.incorrect {
    color: #dc3545;
}