@page "/"

<div class="root">
    <div class="content">
        <div>
            <div>
                This is a game where you need to guess characters from popular game GTA V by their lines from the game.
            </div>
            <div>
                Can you guess them all?
            </div>
            <div>
                There are 3 levels, try your best.
            </div>
        </div>
        <div>
            <div>
                Dear chat, you are participaiting as well! So try your best too!
            </div>
            <div>
                In order to guess you need to type full name of the character into the chat.
            </div>
            <div>
                For example: if you think that line was said by Michael you need to send <i
                    style="color: #007bff">"Michael De Santa"</i>
            </div>
            @if (_correctMessage is not null)
            {
                <div>
                    <span style="color: #28a745">@(_correctMessage.UserDisplayName)</span> correctly typed <i
                        style="color: #007bff">"@(_correctMessage.Message)"</i> in the chat with the correct formatting,
                    this message will count in a quiz
                </div>
            }
        </div>
    </div>
    <div class="footer">
        <button @onclick=@OnStartClick disabled=@(!Data.IsInitialized)>
            @if (Data.IsInitialized)
            {
                <text>Start</text>
            }
            else
            {
                <text>Loading...</text>
            }
        </button>
    </div>
</div>
